/assert-test.dir/
/chrono-test.dir/
/format-impl-test.dir/
/color-test.dir/
/compile-test.dir/
/core-test.dir/
/custom-formatter-test.dir/
/Debug/
/format-test.dir/
/gmock.dir/
/locale-test.dir/
/gtest-extra-test.dir/
/grisu-test.dir/
/test-main.dir/
/header-only-test.dir/
/os-test.dir/
/ostream-test.dir/
/posix-mock-test.dir/
/printf-test.dir/
/ranges-test.dir/
/scan-test.dir/
*.vcxproj.filters
*.vcxproj
/args-test.dir/
/compile-fp-test.dir/
/enforce-checks-test.dir/
/Release/
/unicode-test.dir/
/xchar-test.dir/
