bin/
/_CPack_Packages
/doc/doxyxml
/doc/html
/doc/virtualenv
/Testing
/install_manifest.txt
*~
*.a
*.so*
*.zip
/*.cmake
cmake_install.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles
Makefile
run-msbuild.bat
