[submodule "gtest"]
	path = gtest
	url = git://github.com/vitaut/gtest.git
[submodule "tinyformat"]
	path = tinyformat
	url = git://github.com/vitaut/tinyformat.git
[submodule "breathe"]
	path = breathe
	url = git://github.com/vitaut/breathe.git
