{% extends "basic/layout.html" %}

{% block extrahead %}
<meta charset="UTF-8">
<meta http-equiv="refresh" content="1;url=http://cppformat.github.io/latest/">
<script type="text/javascript">
    window.location.href = "http://cppformat.github.io/latest/"
</script>
<title>Page Redirection</title>
{% endblock %}

{% block document %}
If you are not redirected automatically, follow the <a href='http://cppformat.github.io/latest/'>link to the C++ Format documentation</a>.
{% endblock %}

{% block footer %}
{% endblock %}
